
.main{
    display: flex;
    position: relative;
    justify-content: center;
    width: 80vw;
    height: 50vh;
    margin-left: 10rem;
    gap: 4rem;
    padding-top: 4rem;
}

.mainright{

        justify-content: center;
        max-width: 50vw;
        max-height: 50vh;
        
    &-pro-image{
        position:relative;
        // display: flex;
        width:300px;
        height: 300px;
        border-radius: 4%;

        &>img{
            position:absolute;
            // max-width: 
            top:0;
            bottom:0;
            right:0;
            left:0;
        }
    }
    &-small-img{
        display: flex;
        justify-content: space-between;
        width: 40vw;

        &-thumb{
            width: 9.8vw;
            flex-basis:24%;
            cursor: pointer;
            border-radius: 6%;
            
        }
    }
}

.mainleft{
    width: 50vw;
    height: 50vh;
    padding-top: 2rem;

    &-top{
        
        &>h5{
            color: $Orange;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
            word-spacing: 6px;
            letter-spacing: 2px;
            padding-bottom: .5rem;
        }
        &>h1{
            font-size: 35px;
            word-spacing: .5rem;
        }

        &>h2{
            font-size: 30px;
            padding-bottom: 2rem;
        }
        &>p{
            font-size: 16px;
            color: $Dark-grayish-blue;
            word-spacing: .4rem;
            letter-spacing: 1px;
            padding-bottom: 2rem; 
        }
        }
    &-mid{
        &-amount{
            padding-right: 1rem;
        }
        
        &-percent{
            color: $Orange;
            border-radius: .6rem;
            border-width: 1rem;
            border-color: $Orange;
            background-color: $Pale-orange;
        }

        &-discount{
            font-size: 12px;
            padding-top: .3rem;
            padding-bottom: 0.6rem;
            color: $Dark-grayish-blue;
            text-decoration: line-through;
        }
    }
    &-bot{
        display: flex;
        gap: .2rem;
        height:2.4rem ;

        &-select{
            width: 10rem;
            color: $Orange;
            border-radius: 5%;
        }
        &-cart{
            color: $White;
            width: 13rem;
            border-radius: 10%;
            background-color: $Orange;
            border-color: $Orange;
            justify-content: center;
        }
        
    }
    }

    .show{
        display: flex;
    }

// .attribution { 
//     font-size: 11px; text-align: center; 
// }
// .attribution a {
//     color: hsl(228, 45%, 44%)
// }
