.footer{
    font-size: 13px; 
    text-align: center;
    background: $Soft-red;
    height: 5rem;
    color: $Off-white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    @media(max-width: 37.5rem){
        flex-direction: column;
        padding-top: .5rem;
    }

    &>a{ 
        color: hsl(228, 45%, 44%); 
    }

}
