.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    z-index: 10;
    display: none;
    cursor: pointer;

    @media(max-width: 37.5rem){
        display: block;
    }
}