*{
margin: 0rem;
padding: 0rem;
box-sizing: border-box;
}

header{
padding: 1rem;
margin: auto;
width: 90%;
max-width: 60rem;
justify-content: center;
background-color: bisque;
font-style: oblique;
/* font-feature-settings: "abvm"; */
}

section{
 margin: auto; 
 padding: 1rem
}

article{
   background-color: azure;
   box-sizing: border-box;
   border: 4rem;
   border-radius: 1rem;
   line-height: 2rem; 
   display: grid;
   /* grid-template-columns: repeat(4, 1fr); */

    }
button{
    justify-content: center;
    color: aliceblue;
    background-color: crimson;
}
p{
   font-style: italic; 
}