*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue :hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.6);
}

body{
    background-color:var(--dark-blue);
    font-family: inter, lexend deca;
    font-size: 15px;
    display: grid;
    justify-content: center;
    min-height: 100vh;
}