*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: white;
    margin: 1rem;
}

ul{
    background-color: white;
    color: purple;
}

.main-para{
    color: purple;
    margin-top: 4rem;
    padding: .5rem;
}

/* #Main{
    color: bisque;
    margin-top: 5rem;
} */

main>h1{
    color: orange;
}

main h1{
    color: blue;
}

article{
    text-align: center;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

h3+p{
    color: white;
}

h3~p{
    color: orangered;
}

input[type='number']{
    border: 3px dashed blue;
}