*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue:hsl(223, 47%, 23%);
}


body{
    justify-content: center;
    display: grid;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
}

main{
    max-width: 28rem;
    background-color: white;
    border-radius: 15px;
}

main img{
    max-width: 100%;
}

.general{
    padding: 2.5rem;
    display: grid;
    row-gap: 1.5rem;
}
.general>article{
    display: grid;
    row-gap: 1rem;
}

.firstheader{
    color: var(--Dark-blue);
    font-weight: 900;
}
.summary{
    padding: 0 2rem;
    color: var(--Desaturated-blue);
    font-weight: 500;
}

.seconddiv{
    display: flex;
    background-color: var(--Very-pale-blue);
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 0.5rem;

}
.thirddiv{
    display: flex;
    gap: 1rem;
    text-align: center;
}

.thirddiv>article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}
.thirddiv>article>h2{
    font-size: 15px;
}
.payment{
    background-color: var(--Bright-blue);
    color: white;
    font-weight: 700;
    height: 2rem;
    border-radius: 0.5rem;
}
.cancelorder{
    background-color: white;
    border-color: white;
    height: 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
}

.attribution{
    margin-top: auto; 
}