*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    display: grid;
    height: 100vh; /* vh (View Height)*/
    background-color: var(--Very-light-gray);
}

header{
    text-transform: uppercase;
    text-align: center;
    color: var(--Bright-orange);
    background-color: var(--Dark-cyan);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Big Shoulders Display', cursive;
}

.main{
    margin: auto;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #000000;
    border-radius: .7rem;
    height: auto;
    max-width: 700px;
    overflow: hidden;
}

.main article{
    display: grid;
    height: 23rem;
    padding: 1.2rem;  
}

.main article h2{
    font-family: 'Big Shoulders Display', cursive;
    color: var(--Very-light-gray);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
}

.main article p{
    font-size: 14px;
}

.main article button{
    max-width: 70%;
    padding: 0 .5rem;
    border-radius: 50px;
    max-height: 2.3rem;
    background-color: var(--Very-light-gray);
    border: 1px solid var(--Very-light-gray);
    text-transform: uppercase;
    font-size: 12px;

}

.main article button:hover{
    background-color: transparent;
    color: var(--Very-light-gray);
    cursor: pointer;
}

.orange{
    background-color: var(--Bright-orange);
    color: var(--Transparent-white);
}

.cyan{
    background-color: var(--Dark-cyan);
    color: var(--Transparent-white);
}

.green{
    background-color: var(--Very-dark-cyan);
    color: var(--Transparent-white);
}

.btn-orange{
    color: var(--Bright-orange);
}

.btn-cyan{
    color: var(--Dark-cyan);
}

.btn-green{
    color: var(--Very-dark-cyan);
}

.attribution{
    margin-top: auto;
    text-align: center;
    font-size: 13px;
}

.attribution a{
    color: var(--Bright-orange);
}