
*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

:root{
    ---Very-Dark-Magenta: hsl(300, 43%, 22%);
    ---Soft-Pink: hsl(333, 80%, 67%);
    ---Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    ---Light-Grayish-Magenta: hsl(300, 24%, 96%);
    ---White: hsl(0, 0%, 100%);
}
body{
    background-color: var(---Light-Grayish-Magenta);
    margin: 7rem 5rem 7rem 5rem;
    ;
}

main{
    background-color: var(---White);
    display: grid;
    text-align: center;
    margin: auto;
    background-image: url(http://www.w3.org/2000/svg);
}

.firstSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0rem 0rem 5rem;
}

.firstSection article {
    color: var(---Very-Dark-Magenta);
    font-family:League, Spartan,sans-serif;
}
.firstSection article h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 1.5rem;
    max-width: 20rem;
    text-align: left;
}
.firstSection article p{
    text-align: left;
    max-width: 27rem;
    color: var(---Dark-Grayish-Magenta);
}
.firstSection div{
    text-align: left;
    color: var(---Very-Dark-Magenta);
    font-weight: 500;
}
.star1{
    margin: 1rem 1rem 1rem 1rem ;
    background-color: var(---Light-Grayish-Magenta);
    max-width: 20rem;
    min-height: 2rem;
    text-align: center;
    padding-top: 5px;
}
.star2{
    margin: 1rem 1rem 1rem 3rem ;
    background-color: var(---Light-Grayish-Magenta);
    max-width: 20rem;
    min-height: 2rem;
    text-align: center;
    padding-top: 5px;
}
.star3{
    margin: 1rem 1rem 1rem 6rem ;
    background-color: var(---Light-Grayish-Magenta);
    max-width: 20rem;
    min-height: 2rem;
    text-align: center;
    padding-top: 5px;
}
.secondSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5rem;
}

.test1{
    background-color: var(---Very-Dark-Magenta);
    color: var(---White);
    max-width: 22rem;
    padding: 2rem;
    border-radius: 7px;
    margin-top: 2rem;
    margin-bottom:4rem;
}

.test1 span{
    display: grid;
    grid-template-columns: 20% 40%;
    margin-bottom: 1.5rem;
}
.test1 span img{
    max-width: 3rem;
    border-radius: 50%;
}
.test2{
    background-color: var(---Very-Dark-Magenta);
    color: var(---White);
    max-width: 22rem;
    padding: 2rem;
    border-radius: 7px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.test2 span{
    display: grid;
    grid-template-columns: 20% 50%;
    margin-bottom: 1.5rem;
}
.test2 span img{
    max-width: 3rem;
    border-radius: 50%;
}
.test3{
    background-color: var(---Very-Dark-Magenta);
    color: var(---White);
    max-width: 22rem;
    padding: 2rem;
    border-radius: 7px;
    margin-top:4rem;
    margin-bottom: 2rem;
}
.test3 span{
    display: grid;
    grid-template-columns: 20% 50%;
    margin-bottom: 1.5rem;
}
.test3 span img{
    max-width: 3rem;
    border-radius: 50%;
}
.vb{
    color: var(---Soft-Pink);
    font-weight: 300;
}