
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@700&family=Josefin+Sans:ital,wght@0,300;1,300&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

body{
    font-family: josefin Sans, Alata;
    font-size: 15px;
    max-width: 100vw;
    max-height: 100vh;
    background-color: $White;
    background-position: center;
    align-items: center;
}
