.Main1{
    margin: 7rem;
    background-image: url(/src/images/desktop/image-interactive.jpg);
    background-size: cover;
    width: 60vw;
    height: 65vh;
    &>div{
        background-color: $White;
        padding: 3rem;
        width: 30rem;
        height: 25rem;
        border: 3px solid;
        border-color: $White;
        position: absolute;
        right: 15%;
        top: 85%;
        
        &>h1{
           text-transform: uppercase; 
           font-size: 30px;
           word-spacing: 20px;
           letter-spacing: 5px;
           padding-bottom: 1.5rem;
           
        }
        &>p{
            justify-content: center;

        }
    }
}
.Main2{
    margin: 7rem;
   
}

.creation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    &>button{
        width: 6rem;
        border: 25px;
        background-color: $White;
        border-color: $Very-Dark-Gray;
        cursor: pointer;
        &:hover{
            border: solid;
            background-color: transparent;
            color: $Very-Dark-Gray;
        }
    }

}

.Main2sec1{
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
}

.Main2sec2{
    display: flex;
    gap: 20px;
    }

.deepearth{
    background-image: url(/src/images/desktop/image-deep-earth.jpg);
    background-size: cover;
    width: 20vw;
    height: 60vh;
    color: $White;
    &>h1{
        padding-top: 20rem;
        padding-left: 1rem;
        max-width: 1rem;
    }
}   
.nightarcade{
    background-image: url(/src/images/desktop/image-night-arcade.jpg);
    background-size: cover;
    width: 20vw;
    height: 60vh;
    color: $White; 
    &>h1{
        padding-top: 20rem;
        padding-left: 1rem;
        max-width: 1rem;
    }
}
.soccerteam{
    background-image: url(/src/images/desktop/image-soccer-team.jpg);
    background-size: cover;
    width: 20vw;
    height: 60vh;
    color: $White; 
    &>h1{
        padding-top: 20rem;
        padding-left: 1rem;
        max-width: 1rem;
    }
}
.grid{
    background-image: url(/src/images/desktop/image-grid.jpg);
    background-size: cover;
    width: 20vw;
    height: 60vh;
    color: $White;
    &>h1{
        padding-top: 20rem;
        padding-left: 1rem;
        max-width: 1rem;
    }
}
.fromabove{
    background-image: url(/src/images/desktop/image-from-above.jpg);
    background-size: cover;
    width: 20vw;
    height: 60vh;
    color: $White; 
    &>h1{
        padding-top: 20rem;
        padding-left: 1rem;
        max-width: 1rem;
    }
}
.borealis{
    background-image: url(/src/images/desktop/image-pocket-borealis.jpg);
    background-size: cover;
    width: 20vw;
    height: 60vh;
    color: $White;
    &>h1{
        padding-top: 20rem;
        padding-left: 1rem;
        max-width: 1rem;
    }
}
.curiosity{
    background-image: url(/src/images/desktop/image-curiosity.jpg);
    background-size: cover;
    width: 20vw;
    height: 60vh;
    color: $White;
    &>h1{
        padding-top: 20rem;
        padding-left: 1rem;
        max-width: 1rem;
    }
}
.fisheye{
    background-image: url(/src/images/desktop/image-fisheye.jpg);
    background-size: cover;
    width: 20vw;
    height: 60vh;
    color: $White;
    &>h1{
        padding-top: 20rem;
        padding-left: 1rem;
        max-width: 1rem;
    }
}