@import url("https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@700&family=Josefin+Sans:ital,wght@0,300;1,300&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&display=swap");
.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  list-style: none;
  height: 20vh;
}

.footerleft {
  margin-left: 6rem;
  margin-top: 1.5rem;
}

.footerright {
  margin-right: 6rem;
  margin-top: 1.5rem;
}
.footerright > p {
  padding-top: 1rem;
}

.footerleftnav {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  text-decoration: none;
  padding-top: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: josefin Sans, Alata;
  font-size: 15px;
  max-width: 100vw;
  max-height: 100vh;
  background-color: hsl(0, 0%, 100%);
  background-position: center;
  align-items: center;
}

.Nav > ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  gap: 2rem;
}
.Nav > ul > li > a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.Header {
  background-image: url(/src/images/desktop/image-hero.jpg);
  background-size: cover;
  height: 50vh;
  color: hsl(0, 0%, 100%);
  padding: 2rem 5rem 0 5rem;
}
.Header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.immersive {
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  padding: 1rem;
  width: 30rem;
  height: 12rem;
  border: 3px solid;
  margin: 0;
}

.Main1 {
  margin: 7rem;
  background-image: url(/src/images/desktop/image-interactive.jpg);
  background-size: cover;
  width: 60vw;
  height: 65vh;
}
.Main1 > div {
  background-color: hsl(0, 0%, 100%);
  padding: 3rem;
  width: 30rem;
  height: 25rem;
  border: 3px solid;
  border-color: hsl(0, 0%, 100%);
  position: absolute;
  right: 15%;
  top: 85%;
}
.Main1 > div > h1 {
  text-transform: uppercase;
  font-size: 30px;
  word-spacing: 20px;
  letter-spacing: 5px;
  padding-bottom: 1.5rem;
}
.Main1 > div > p {
  justify-content: center;
}

.Main2 {
  margin: 7rem;
}

.creation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.creation > button {
  width: 6rem;
  border: 25px;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 41%);
  cursor: pointer;
}
.creation > button:hover {
  border: solid;
  background-color: transparent;
  color: hsl(0, 0%, 41%);
}

.Main2sec1 {
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
}

.Main2sec2 {
  display: flex;
  gap: 20px;
}

.deepearth {
  background-image: url(/src/images/desktop/image-deep-earth.jpg);
  background-size: cover;
  width: 20vw;
  height: 60vh;
  color: hsl(0, 0%, 100%);
}
.deepearth > h1 {
  padding-top: 20rem;
  padding-left: 1rem;
  max-width: 1rem;
}

.nightarcade {
  background-image: url(/src/images/desktop/image-night-arcade.jpg);
  background-size: cover;
  width: 20vw;
  height: 60vh;
  color: hsl(0, 0%, 100%);
}
.nightarcade > h1 {
  padding-top: 20rem;
  padding-left: 1rem;
  max-width: 1rem;
}

.soccerteam {
  background-image: url(/src/images/desktop/image-soccer-team.jpg);
  background-size: cover;
  width: 20vw;
  height: 60vh;
  color: hsl(0, 0%, 100%);
}
.soccerteam > h1 {
  padding-top: 20rem;
  padding-left: 1rem;
  max-width: 1rem;
}

.grid {
  background-image: url(/src/images/desktop/image-grid.jpg);
  background-size: cover;
  width: 20vw;
  height: 60vh;
  color: hsl(0, 0%, 100%);
}
.grid > h1 {
  padding-top: 20rem;
  padding-left: 1rem;
  max-width: 1rem;
}

.fromabove {
  background-image: url(/src/images/desktop/image-from-above.jpg);
  background-size: cover;
  width: 20vw;
  height: 60vh;
  color: hsl(0, 0%, 100%);
}
.fromabove > h1 {
  padding-top: 20rem;
  padding-left: 1rem;
  max-width: 1rem;
}

.borealis {
  background-image: url(/src/images/desktop/image-pocket-borealis.jpg);
  background-size: cover;
  width: 20vw;
  height: 60vh;
  color: hsl(0, 0%, 100%);
}
.borealis > h1 {
  padding-top: 20rem;
  padding-left: 1rem;
  max-width: 1rem;
}

.curiosity {
  background-image: url(/src/images/desktop/image-curiosity.jpg);
  background-size: cover;
  width: 20vw;
  height: 60vh;
  color: hsl(0, 0%, 100%);
}
.curiosity > h1 {
  padding-top: 20rem;
  padding-left: 1rem;
  max-width: 1rem;
}

.fisheye {
  background-image: url(/src/images/desktop/image-fisheye.jpg);
  background-size: cover;
  width: 20vw;
  height: 60vh;
  color: hsl(0, 0%, 100%);
}
.fisheye > h1 {
  padding-top: 20rem;
  padding-left: 1rem;
  max-width: 1rem;
}/*# sourceMappingURL=styles.css.map */